<body>

<h1> Books </h1>
  <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th clospan="3"></th>
        </tr>
      </thead>
  </table>

  <tbody>
      <tr>
          <tb> リーダブルコード</tb>
          <tb> より良いコードを書くためのシンプルで実践的なテクニック</tb>
          <tb>
              <a class="show_" href="">Show</a>
          </tb>

          <tb>
              <a class="edit_" href="">Edit</a>
          </tb>

          <tb></tb>

      </tr>

      <tr>
          <tb> トラブル知らずのシステム設計 </tb>
          <tb> システム設計の要点を図解で説明してくれます</tb>
          <tb>
               <a class="show_" href=""> Show </a>
          </tb>

          <tb>
               <a class="edit_" href=""> Edit </a>
          </tb>

          <tb></tb>
      </tr>

      <tr>
          <tb> たのしいRuby </tb>
          <tb> Rubyの入門におすすめです </tb>
          <tb>
               <a class= "show_" href=""> Show </a>
          </tb>

          <tb>
               <a class= "edit_" href=""> Edit </a>
          </tb>
      </tr>

      <tr>
          <tb> 入門Git </tb>
          <tb> gitについての基本操作から内部構造まで解説してくれます</
          <tb>
              <a class= "show_" href=""> Show </a>
          </tb>

          <tb>
              <a class= "edit_" href=""> Edit </a>
          </tb>

          <tb></tb>
      </tr>

      <tr>
          <tb> アルゴリズム図鑑 </tb>
          <tb> アルゴリズムについてカラーイラストでしっかり解説してくれます</tb>
          <tb>
              <a class= "show_" href=""> Show </a>
          </tb>

          <tb>
              <a class= "edit_" href=""> Edit</a>
          </tb>

          <tb></tb>
      </tr>

      <tr>
          <tb> 達人プログラマー </tb>
          <tb> プログラマ入門者は必読！ </tb>
          <tb>
              <a class="show_" href=""> Show </a>
          </tb>

          <tb>
              <a class="edit_" href=""> Edit </a>
          </tb>

          <tb></tb>
      </tr>

      <tr>
          <tb> データベース実施入門 </tb>
          <tb> 効率的なSQL文を教えてくれます </tb>
          <tb>
              <a class="show_" href=""> Show </a>
          </tb>

          <tb>
              <a class="edit_" href=""> Edit </a>
          </tb>
      </tr>
  </tbody>



<h1>New book</h1>

<%= form_with model: @book do |f| %>

 <h4> Title </h4>
 <%=f.text_area :title %>

 <h4> Body </h4>
 <%= f.text_area :body %>

 <%= f.submit 'Create Book' %>
<% end %>